{%  extends 'base.html' %}

{% block title  %}
    New user
{% endblock %}

{% block content_title  %}
    Register now

{% endblock %}

{% block content  %}
    <div class="col-md-6">
    <form action="{{ url_for('users.create_user') }}" method="POST">

    {% for field in form %}

        <div class="form-group">


            {{ field.label(class='control-label') }}
            {{ field(class='form-control') }}
        </div>

    {% endfor %}
    <button type="submit" class="btn btn-success">Create</button>
    </form>
    </div>
{% endblock %}